@font-face {
    font-family: 'luckiest_guyregular';
    src: url('luckiestguy-webfont.eot');
    src: url('luckiestguy-webfont.eot?#iefix') format('embedded-opentype'),
    url('luckiestguy-webfont.woff2') format('woff2'),
    url('luckiestguy-webfont.woff') format('woff'),
    url('luckiestguy-webfont.ttf') format('truetype'),
    url('luckiestguy-webfont.svg#luckiest_guyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* reprenez ici votre feuille de style de l'exercie n2-03-logo, nous allons la compéter */
/*
Stylez les petits triangles :
- ils doivent tous avoir un contour de 1px d'épaisseur et un remplissage de couleur #59BFC6
*/

circle{
    fill: transparent;
    stroke: #008B6F ;
    stroke-width: 7px
}

polygon{
    fill: #008B6F ;
    stroke: #00392D;
}
text{
    font-family: luckiest_guyregular;
    font-size: 60px;
    fill:#F6F7F3;
    stroke:#00392D;
    stroke-width:3px;
    text-anchor:middle;
    dominant-baseline:middle;
}

line{
    stroke:#00392D;
    stroke-width:5px;

}

.triangle_group {
    fill: #59BFC6;
    stroke-width: 1px;
}