/* Stylez le triangle pour qu'il ait 
- un contour de couleur #00392D d'une épaisseur de 2px ;
- des jointures de ligne arrondies ;
- un remplissage de couleur #008B6F
*/

path{
    stroke: #00392D ;
    stroke-width: 2px;
    stroke-linejoin: round;
    fill:#008B6F ;
}